*{
  margin: 0;
  padding: 0;
}


.answerss{
  padding-top: 700px;
  display: flex;
  justify-content: center;
  flex-direction: row;

}
.answers{

  border:2px solid white;
  font-weight: 900;
  font-size: 25px;  
  position: relative;
  padding: 20px;
  color: white;
}
.logo {
  filter: blur(4px);
  -webkit-filter: blur(4px);
  position: absolute;
    background-image: url(../images/405236.jpg);
    width: 1920px;
    height: 969px;
    display: flex;
  }
  .title{

    width: 700px;
    margin-left:600px;
    border:2px solid white;
    text-align: center;
    position: relative;
    color: white;
  }
.wrong{
  position: relative;
  border:2px solid red;
  color: red;
}